In [3]:
import pandas as pd
import random
import os

ROOT = ".." # Adjust to repository root

In [5]:
aut_2024 = pd.read_csv(os.path.join(ROOT, 'datasets', 'daep', 'Austria_ENTSO-E_2024.csv'))
# Check data types
print("Data types:")
print(aut_2024.dtypes)

# Check timestamp format
print("\nTimestamp sample:")
print(aut_2024['Timestamp'].head())

# Check for missing values
print("\nMissing values:")
print(aut_2024.isna().sum())

# Check for basic statistics of the Austria column
print("\nAustria column statistics:")
print(aut_2024['Austria'].describe())

Data types:
Timestamp     object
Austria      float64
dtype: object

Timestamp sample:
0    2024-01-01T00:00:00
1    2024-01-01T00:15:00
2    2024-01-01T00:30:00
3    2024-01-01T00:45:00
4    2024-01-01T01:00:00
Name: Timestamp, dtype: object

Missing values:
Timestamp    0
Austria      4
dtype: int64

Austria column statistics:
count    26684.000000
mean        70.245094
std         42.388080
min       -177.820000
25%         46.140000
50%         72.210000
75%         95.900000
max        300.000000
Name: Austria, dtype: float64

In [6]:
print(aut_2024.dtypes)

Timestamp     object
Austria      float64
dtype: object

In [7]:
# Convert Timestamp column to datetime
aut_2024['Timestamp'] = pd.to_datetime(aut_2024['Timestamp'])

# Check that conversion worked
print("Updated data types:")
print(aut_2024.dtypes)

display(aut_2024.head(20))

Updated data types:
Timestamp    datetime64[ns]
Austria             float64
dtype: object

             Timestamp  Austria
0  2024-01-01 00:00:00    14.08
1  2024-01-01 00:15:00    14.08
2  2024-01-01 00:30:00     0.48
3  2024-01-01 00:45:00    -3.64
4  2024-01-01 01:00:00    17.74
5  2024-01-01 01:15:00    14.94
6  2024-01-01 01:30:00    -2.74
7  2024-01-01 01:45:00   -14.91
8  2024-01-01 02:00:00    15.09
9  2024-01-01 02:15:00     9.98
10 2024-01-01 02:30:00    -2.69
11 2024-01-01 02:45:00   -10.92
12 2024-01-01 03:00:00     9.98
13 2024-01-01 03:15:00     4.93
14 2024-01-01 03:30:00    -0.20
15 2024-01-01 03:45:00    -5.23
16 2024-01-01 04:00:00    -4.64
17 2024-01-01 04:15:00    -1.28
18 2024-01-01 04:30:00     4.93
19 2024-01-01 04:45:00     9.98

In [11]:
start_idx = random.randint(0, len(aut_2024) - 20)
display(aut_2024.iloc[start_idx:start_idx + 20])

               Timestamp  Austria
8606 2024-03-30 15:30:00    27.54
8607 2024-03-30 15:45:00    44.70
8608 2024-03-30 16:00:00   -12.48
8609 2024-03-30 16:15:00    10.46
8610 2024-03-30 16:30:00    44.70
8611 2024-03-30 16:45:00    57.32
8612 2024-03-30 17:00:00    10.00
8613 2024-03-30 17:15:00    35.02
8614 2024-03-30 17:30:00    60.04
8615 2024-03-30 17:45:00    77.94
8616 2024-03-30 18:00:00    44.70
8617 2024-03-30 18:15:00    44.70
8618 2024-03-30 18:30:00    69.70
8619 2024-03-30 18:45:00    69.70
8620 2024-03-30 19:00:00    69.70
8621 2024-03-30 19:15:00    69.70
8622 2024-03-30 19:30:00    60.09
8623 2024-03-30 19:45:00    53.82
8624 2024-03-30 20:00:00    69.70
8625 2024-03-30 20:15:00    50.09

In [14]:
esp_2024 = pd.read_csv(os.path.join(ROOT, 'datasets', 'daep', 'Spain_ENTSO-E_2024.csv'))
start_idx = random.randint(0, len(esp_2024) - 20)
display(esp_2024.iloc[start_idx:start_idx + 20])

                Timestamp  Spain
1981  2024-03-23T13:00:00   0.00
1982  2024-03-23T14:00:00   0.00
1983  2024-03-23T15:00:00   0.00
1984  2024-03-23T16:00:00   0.00
1985  2024-03-23T17:00:00   0.43
1986  2024-03-23T18:00:00   3.19
1987  2024-03-23T19:00:00   3.20
1988  2024-03-23T20:00:00   9.01
1989  2024-03-23T21:00:00   7.18
1990  2024-03-23T22:00:00   3.20
1991  2024-03-23T23:00:00   3.20
1992  2024-03-24T00:00:00   0.16
1993  2024-03-24T01:00:00   0.00
1994  2024-03-24T02:00:00   0.00
1995  2024-03-24T03:00:00   0.00
1996  2024-03-24T04:00:00   0.00
1997  2024-03-24T05:00:00   0.00
1998  2024-03-24T06:00:00   0.01
1999  2024-03-24T07:00:00   0.10
2000  2024-03-24T08:00:00   0.00