In [16]:
import os
import glob
import pandas as pd
import random

In [32]:
# Find all CSV files in the datasets/daep/ directory and subdirectories
csv_files = glob.glob('datasets/daep/**/*.csv', recursive=True)

# Create a list to store the results
results = []

# For each CSV file, get the file name and record count
for file_path in csv_files:
    file_name = os.path.basename(file_path)
    # Read the CSV file to get the record count
    df = pd.read_csv(file_path)
    record_count = len(df)
    results.append({'csv_name': file_name, 'record_count': record_count})
    
    # Convert Timestamp column to datetime if it exists
    if 'Timestamp' in df.columns:
        df['Timestamp'] = pd.to_datetime(df['Timestamp'])
    
    # Save as pickle file with same name but .pkl extension
    pickle_file = os.path.join('pkl', file_name.replace('.csv', '.pkl'))
    df.to_pickle(pickle_file)

csv_df = pd.DataFrame(results)

# Add a column with the pickle file name
csv_df['pkl_name'] = csv_df['csv_name'].str.replace('.csv', '.pkl')

display(csv_df)

,csv_name,record_count,pkl_name
0,Additional_Information_by_Country.csv,49,Additional_Information_by_Country.pkl
1,Australia_AEMO_2006.csv,17519,Australia_AEMO_2006.pkl
2,Australia_AEMO_2007.csv,17520,Australia_AEMO_2007.pkl
3,Australia_AEMO_2008.csv,17568,Australia_AEMO_2008.pkl
4,Australia_AEMO_2009.csv,17520,Australia_AEMO_2009.pkl
...,...,...,...
501,USA_SPP_2021.csv,8759,USA_SPP_2021.pkl
502,USA_SPP_2022.csv,8759,USA_SPP_2022.pkl
503,USA_SPP_2023.csv,8759,USA_SPP_2023.pkl
504,USA_SPP_2024.csv,8778,USA_SPP_2024.pkl
505,USA_SPP_2025.csv,2885,USA_SPP_2025.pkl

In [33]:
csv_df.to_pickle('files_list.pkl')

In [30]:
sample_size = 10
start_idx = random.randint(0, len(csv_df) - sample_size)
display(csv_df.iloc[start_idx:start_idx + sample_size])

                      File Name  Record Count
230     Latvia_ENTSO-E_2018.csv          8760
231     Latvia_ENTSO-E_2019.csv          8760
232     Latvia_ENTSO-E_2020.csv          8784
233     Latvia_ENTSO-E_2021.csv          8760
234     Latvia_ENTSO-E_2022.csv          8760
235     Latvia_ENTSO-E_2023.csv          8760
236     Latvia_ENTSO-E_2024.csv          6672
237  Lithuania_ENTSO-E_2015.csv          8760
238  Lithuania_ENTSO-E_2016.csv          8784
239  Lithuania_ENTSO-E_2017.csv          8760