In [12]:
import pandas as pd
import random

In [5]:
aut_2024 = pd.read_csv('datasets/daep/Austria/Austria_ENTSO-E_2024.csv')
# Check data types
print("Data types:")
print(aut_2024.dtypes)

# Check timestamp format
print("\nTimestamp sample:")
print(aut_2024['Timestamp'].head())

# Check for missing values
print("\nMissing values:")
print(aut_2024.isna().sum())

# Check for basic statistics of the Austria column
print("\nAustria column statistics:")
print(aut_2024['Austria'].describe())

Data types:
Timestamp     object
Austria      float64
dtype: object

Timestamp sample:
0    2024-01-01T00:00:00
1    2024-01-01T00:15:00
2    2024-01-01T00:30:00
3    2024-01-01T00:45:00
4    2024-01-01T01:00:00
Name: Timestamp, dtype: object

Missing values:
Timestamp    0
Austria      4
dtype: int64

Austria column statistics:
count    26684.000000
mean        70.245094
std         42.388080
min       -177.820000
25%         46.140000
50%         72.210000
75%         95.900000
max        300.000000
Name: Austria, dtype: float64

In [8]:
print(aut_2024.dtypes)

Timestamp     object
Austria      float64
dtype: object

In [11]:
# Convert Timestamp column to datetime
aut_2024['Timestamp'] = pd.to_datetime(aut_2024['Timestamp'])

# Check that conversion worked
print("Updated data types:")
print(aut_2024.dtypes)

display(aut_2024.head(20))

Updated data types:
Timestamp    datetime64[ns]
Austria             float64
dtype: object

             Timestamp  Austria
0  2024-01-01 00:00:00    14.08
1  2024-01-01 00:15:00    14.08
2  2024-01-01 00:30:00     0.48
3  2024-01-01 00:45:00    -3.64
4  2024-01-01 01:00:00    17.74
5  2024-01-01 01:15:00    14.94
6  2024-01-01 01:30:00    -2.74
7  2024-01-01 01:45:00   -14.91
8  2024-01-01 02:00:00    15.09
9  2024-01-01 02:15:00     9.98
10 2024-01-01 02:30:00    -2.69
11 2024-01-01 02:45:00   -10.92
12 2024-01-01 03:00:00     9.98
13 2024-01-01 03:15:00     4.93
14 2024-01-01 03:30:00    -0.20
15 2024-01-01 03:45:00    -5.23
16 2024-01-01 04:00:00    -4.64
17 2024-01-01 04:15:00    -1.28
18 2024-01-01 04:30:00     4.93
19 2024-01-01 04:45:00     9.98

In [31]:
start_idx = random.randint(0, len(aut_2024) - 20)
display(aut_2024.iloc[start_idx:start_idx + 20])

               Timestamp  Austria
3845 2024-02-10 01:15:00    70.18
3846 2024-02-10 01:30:00    46.14
3847 2024-02-10 01:45:00    41.38
3848 2024-02-10 02:00:00    72.15
3849 2024-02-10 02:15:00    68.75
3850 2024-02-10 02:30:00    46.14
3851 2024-02-10 02:45:00    44.97
3852 2024-02-10 03:00:00    72.15
3853 2024-02-10 03:15:00    59.17
3854 2024-02-10 03:30:00    46.14
3855 2024-02-10 03:45:00    46.14
3856 2024-02-10 04:00:00    44.93
3857 2024-02-10 04:15:00    45.94
3858 2024-02-10 04:30:00    58.59
3859 2024-02-10 04:45:00    72.15
3860 2024-02-10 05:00:00    44.62
3861 2024-02-10 05:15:00    62.41
3862 2024-02-10 05:30:00    72.15
3863 2024-02-10 05:45:00    64.00
3864 2024-02-10 06:00:00    44.92

In [34]:
esp_2024 = pd.read_csv('datasets/daep/Spain/Spain_ENTSO-E_2024.csv')
start_idx = random.randint(0, len(esp_2024) - 20)
display(esp_2024.iloc[start_idx:start_idx + 20])

                Timestamp   Spain
5944  2024-09-04T16:00:00   51.99
5945  2024-09-04T17:00:00   53.10
5946  2024-09-04T18:00:00   76.99
5947  2024-09-04T19:00:00  103.00
5948  2024-09-04T20:00:00  122.81
5949  2024-09-04T21:00:00  124.44
5950  2024-09-04T22:00:00  117.14
5951  2024-09-04T23:00:00  108.55
5952  2024-09-05T00:00:00  105.00
5953  2024-09-05T01:00:00  105.70
5954  2024-09-05T02:00:00   99.35
5955  2024-09-05T03:00:00   99.41
5956  2024-09-05T04:00:00   96.00
5957  2024-09-05T05:00:00  100.00
5958  2024-09-05T06:00:00  118.06
5959  2024-09-05T07:00:00  124.90
5960  2024-09-05T08:00:00  125.00
5961  2024-09-05T09:00:00  113.42
5962  2024-09-05T10:00:00   92.50
5963  2024-09-05T11:00:00   84.81